@model IEnumerable<obligatorio_PIII.Models.roles>

@{
    ViewBag.Title = "Index";
}

<h2>Roles</h2>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Nombre)</th>
            <th>Permisos Asignados</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @if (item.permisos != null && item.permisos.Any())
                    {
                        <ul>
                            @foreach (var permiso in item.permisos)
                            {
                                <li>@permiso.Nombre</li>
                            }
                        </ul>
                    }
                    else
                    {
                        <span class="text-muted">Sin permisos</span>
                    }
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    @Html.ActionLink("Create New", "Create")
</div>
