<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <!-- Bootstrap y CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <style>
        body {
            padding-top: 60px;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Voz del Mar", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="collapse navbar-collapse" id="main-navbar">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Cotizaciones", "Index", "Cotizaciones")</li>
                    <li>@Html.ActionLink("Noticias", "Index", "Noticias")</li>
                    <li>@Html.ActionLink("Patrocinadores", "Index", "Patrocinadores")</li>
                    <li>@Html.ActionLink("Programas", "Index", "Programas")</li>
                    <li>@Html.ActionLink("Clima", "Index", "Clima")</li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="navbar-text">Hola, @User.Identity.Name</li>
                        <li>@Html.ActionLink("Cerrar Sesión", "Logout", "usuarios", null, null)</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Login", "Login", "usuarios", null, null)</li>
                    }
                </ul>
            </div>
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Voz del Mar</p>
        </footer>
    </div>

    <!-- Scripts Bootstrap clásico -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
