@model obligatorio_PIII.Models.roles

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>roles</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>Permisos</dt>
        <dd>
            @if (Model.permisos != null && Model.permisos.Any())
            {
                <ul>
                    @foreach (var permiso in Model.permisos)
                    {
                        <li>@permiso.Nombre</li>
                    }
                </ul>
            }
            else
            {
                <span>Este rol no tiene permisos asignados.</span>
            }
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
