@{
    ViewBag.Title = "Index";
}

@model IEnumerable<obligatorio_PIII.Models.permisos>

@{
    ViewBag.Title = "Index";
}

<h2>Permisos</h2>
<!-- Tabla  -->
<table class="table">

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                <!-- Botones -->
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>

        </tr>
    }
</table>
<!-- Boton de crear nuevo -->
<div>
    @Html.ActionLink("Create New", "Create")
</div>

